$color-hookersGreen : #397367;
$color-robbinEgg : #63CCCA;
$color-keppelGreen : #5DA399;
$color-darkCyan : #42858C;
$color-onyx : #35393C;

body {
    font-family: "Special Elite", "sans-serif";
    background-image: linear-gradient($color-onyx, $color-hookersGreen, $color-robbinEgg);
}

header {
    font-family: "Indie Flower", "sans-serif";
    background-image: linear-gradient($color-hookersGreen, $color-onyx );
    color: beige;
}

.header-ribbon {
    font-family: "Indie Flower", "sans-serif";
    background-color: $color-darkCyan ;
    color: beige;
}

h3 {
    text-align: center;
}

img ~ h5 {
    margin-top: 20px;
    margin-bottom: 20px;
} 

.card {
    background-color: bisque;
}

#centerPaper {
    background-color: bisque;
}

#LHPapers {

}

#RHPapers {

}

hr {
    border: 1px dashed $color-robbinEgg;
}

img.profilePic {
    border: 5px dashed $color-robbinEgg;
}